/* This file is for your main application css. */
.chat {
	margin-top: 0em;
}

.chat-room {
	margin-top: 1em;
}

.panel-messages,
.panel-users {
	height: 400px;
}

#chat-messages {
	min-height: 400px;
	overflow-y: scroll;
}
